/* Global */
body {
	background: #eee;
	color: #333;
	font-size: 13px;
}
h1, h2, h3 {
	font-family: Georgia, sans-serif;
	font-weight: normal;
}
h1 {
	font-size: 3em;
	text-align: center;
	margin-bottom: 2em;
}
p, li {
	color: #999;
	font-family: Verdana, Arial, sans-serif;
	line-height: 1.35em;
}
button {
	cursor: pointer;
}
pre {
	background-color: #fff;
	border: 1px dashed #ccc;
	font-weight: bold;
	margin: 0;
	overflow: auto;
	padding: 0;
	text-align: left;
	width: 99%;
	word-wrap: break-word;
}
code {
	margin: 0;
}
select {
	margin-right: 10px;
}
table {
	margin-bottom: 20px;
}
table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
    font-family: Verdana, sans-serif;
}
th, td {
	padding: 10px;
}	
form {
	clear: both;
	margin: 0 auto;
}
legend {
	font-size: 16px;
	font-weight: bold;
}
fieldset {
	border: 1px solid #ccc;
	padding: 20px;
}
label {
	display: block;
	margin-bottom: 10px;
}
input {
	/*margin-bottom: 20px;*/
}
button {
	margin: 0 10px 10px 0;
}
blockquote {
	color: #333;
	font-family: Georgia, serif;
	font-size: 24px;
}
blockquote:before,
blockquote:after {
  color: #ccc;
  font-size: 2em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote:before { content: open-quote; margin-right: 0.25em; }
blockquote:after { content: close-quote; margin-left: 0.25em; }
textarea {
    width: 300px;
    height: 150px;
}

/* Layout */
.row {
	margin: 0 auto 20px auto;
	padding: 0 0px 40px 0px;
	width: 960px;
}
.row.first {
	padding: 20px 10px 40px 10px;
}
.row.last {
	border-bottom: 0;
	padding: 20px 10px 120px 10px;
}	
.row img {
	display: block;
	margin: 0 auto 10px auto;
}
.column {
	display: inline-block;
	vertical-align: middle;
}
.clearfix,
.clearfix:after {
	clear: both;
	zoom: 1;
}

/* Helpers */

.border-bottom { border-bottom: 1px solid #ccc; }
.border-top { border-bottom: 1px solid #ccc; }

.display-inline-block { display: inline-block; }
.display-block { display: block; } 

.float-left { float: left; }
.float-right { float: right; }

.margin-auto { margin: 0 auto; }

.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }

.vertical-align-top { vertical-align: top; }
.vertical-align-middle { vertical-align: middle; }
.vertical-align-bottom { vertical-align: bottom; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }


/* Project Specific */
label span {
	color: red;
}
.message {
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
}
.win {
	background-color: #99cc99;
	border: 1px solid #336633;
	color: #336633;
}
.win p {
	color: #336633;
}
.fail {
	background-color: #ffcccc;
	border: 1px solid #993333;
}
.fail p {
	color: #993333;
}
p.source {
	color: #333;
}


